<!--
  Generated template for the BatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  
  <ion-navbar>
        <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
    <ion-title>Create Team</ion-title>
    <button ion-button>
            <ion-icon name="notifications"></ion-icon>
          </button>
  </ion-navbar>
  

</ion-header>


<ion-content class="select_player">
    <br>
        <ion-grid>
                <ion-row>
                        <ion-col col-12>
                            <h2 class="heading">PICK 3-5 BATSMEN</h2>
                      </ion-col>
                    </ion-row>
               
            <ion-row class="select_header">
              <ion-col col-2>
                <h2>Info</h2>
              </ion-col>
              <ion-col col-7>
                  <h2>Player</h2>
              </ion-col>
              
              <ion-col col-3>
                  <h2>Credit</h2>       
              </ion-col>
            </ion-row>
    
         <!--   <ion-row class="select_body" *ngFor="let bat of displaybat">
                <ion-col col-2 class="player_img">
                    <ion-thumbnail item-start class="match_thumbnail">
                        <img src="../../assets/imgs/Jozi Stars.jpg">
                    </ion-thumbnail>
                </ion-col>
                <ion-col col-7 class="player_name">
                     <p> {{ bat.player_name }}</p>
               <p> {{ bat.player_team_name }} </p>
                </ion-col>
                
                <ion-col col-3 class="player_credit">
                   {{ bat.credit_point }}    <ion-icon name="add-circle" (click)="handleLike('bat')"></ion-icon>
                </ion-col>
              </ion-row>
    -->
	
	  <ion-item *ngFor="let bat of displaybat;let i=index" class="select_body">               
                    
                    <ion-avatar item-left="item-left" class="player_img">
                       <img *ngIf="bat.player_image" src="{{player_url+'/'+bat.player_image}}">
						<img  *ngIf="!bat.player_image" src="assets/imgs/profile.png">
                    </ion-avatar>
                        <ion-label class="player_name">
                            <p> {{ bat.player_name }}</p>
               <p> {{ bat.player_team_name }} </p>
                        </ion-label>
                        <ion-checkbox item-end="item-end" [(ngModel)]="bat.minus" (ionChange)="onChange(displaybat,i,$event)"></ion-checkbox>
                        <ion-avatar item-right="item-left" col-3 class="player_credit">
                           {{ bat.credit_point }}
						   <div class="center" *ngIf="bat.minus==false">
                            <ion-icon   class="add-icon" name="add-circle"></ion-icon>
							</div>
							<div class="center" *ngIf="bat.minus==true" >
                            <ion-icon   class="minus-icon" name="remove-circle"></ion-icon>
							</div>
                        </ion-avatar>
               
            </ion-item>
	
            <!--  <ion-row class="select_body">
                  <ion-col col-2 class="player_img">
                      <ion-thumbnail item-start class="match_thumbnail">
                          <img src="../../assets/imgs/Jozi Stars.jpg">
                      </ion-thumbnail>
                  </ion-col>
                  <ion-col col-7 class="player_name">
                     <p> Player Name</p>
                     <p> Team </p>
                  </ion-col>
                  
                  <ion-col col-3 class="player_credit">
                      10    <ion-icon name="add-circle"></ion-icon>
                  </ion-col>
                </ion-row>

                <ion-row class="select_body">
                        <ion-col col-2 class="player_img">
                            <ion-thumbnail item-start class="match_thumbnail">
                                <img src="../../assets/imgs/Jozi Stars.jpg">
                            </ion-thumbnail>
                        </ion-col>
                        <ion-col col-7 class="player_name">
                           <p> Player Name</p>
                           <p> Team </p>
                        </ion-col>
                        
                        <ion-col col-3 class="player_credit">
                            10    <ion-icon name="add-circle"></ion-icon>
                        </ion-col>
                      </ion-row>
    
                <ion-row class="select_body">
                    <ion-col col-2 class="player_img">
                        <ion-thumbnail item-start class="match_thumbnail">
                            <img src="../../assets/imgs/Jozi Stars.jpg">
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col col-7 class="player_name">
                       <p> Player Name</p>
                       <p> Team </p>
                    </ion-col>
                    
                    <ion-col col-3 class="player_credit">
                        10    <ion-icon name="add-circle"></ion-icon>
                    </ion-col>
                  </ion-row>-->
    
    
    
        </ion-grid>
    
    </ion-content>
    
