<ion-tabs tabsPlacement="top">
    <ion-tab [root]="editWkRoot" tabTitle="Edit wk" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="editBatRoot" tabTitle="Edit bat" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="editArRoot" tabTitle="Edit ar" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="editBowRoot" tabTitle="Edit bow" tabIcon="information-circle"></ion-tab>
</ion-tabs>
<ion-footer class="player_select_footer">

        <ion-grid>
        
                <ion-row>
                    <ion-col col-5 class="points_footer">
                         <div class="point_fo_left1">
                            <p class="point_fo">{{ team_1_count }}</p>
                            <p class="name_fo"> T1</p>
                         </div>
                         <div class="point_fo_left2">
                            <p class="point_fo">{{ team_2_count }}</p>
                            <p class="name_fo"> T2</p>
                        </div>
                        <div class="point_fo_left3">
                             <p class="point_fo">{{players_count_var}}/11</p>
                             <p class="name_fo"> PLAYERS</p>
                        </div> 
                    </ion-col>
                    <ion-col col-4 class="points_footer">
                            <p class="point_fo">{{final_credit}}/100</p>
                            <p class="name_fo">CREDITS LEFT</p>
                    </ion-col>
                    
                    <ion-col col-3 class="points_footer" >
                        <button class="active" *ngIf="players_count_var == 11"  (click)="Goto_editselectcaptain()">NEXT</button>
                        <button *ngIf="players_count_var != 11"  >NEXT</button>
                    </ion-col>
                  </ion-row>       
        
            </ion-grid>

</ion-footer>