page-widthraw {

    .withdraw_div
    {
        box-shadow: 0px 1px 4px #ccc;
        border: 1px solid #ccc;
        background-color: white;
        margin-bottom: 10px;
        padding: 25px 10px;
        text-align:center;
    }
    .withdraw_div h2
    {
        margin-bottom: 15px;
    }
    .withdraw_div p
    {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
    }
    .withdraw_div button
    {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        border-radius:5px;
    }
   
}
