page-payment-transaction {

.div-left
    {
        padding: 8px 10px;
        border: 1px solid #bdbbbb;       
        margin-bottom: 5px;
    }
    .div-left p
    {
        margin: 0px;
        color:#0e0b0b;
    }
    .div-right
    {
        padding: 8px 10px;
        border: 1px solid #bdbbbb;
        margin-bottom: 5px;
    }
    .div-right p
    {
        margin: 0px;
    }




}
