page-playpoints {
    .select_header
    {
        margin-top: 0px;
    }
    .player_credit
    {
        text-align: right;
    }
    .player_select_footer
    {
        background: #565555;
        height: 28px;
        color: #fff;
       
    }
    .points_footer
    {
        padding:0px;
    }
    .points_footer p
    {
        margin: 0px;
    }
}