page-contest-model {
    .toolbar-background-md
    {
        background: none !important;
    }
    .header-md::after
    {
        background-image: none !important;
    }
    .toolbar-title-md
    {
        color:#000 !important;
    }
}
