page-odi {
  .accordion {
    margin: 0 auto;
 font-size: 14px;

 width: 100%;

}
.accordion ul {
 list-style:none;
 margin:0;
 padding:0;
}
.accordion li {
 margin:0;
 padding:0;
/* border-bottom: 1px solid #ccc;*/
}
.accordion [type=radio], .accordion [type=checkbox] {
 display:none;
}
.accordion label {
    display: block;
 font-size: 13px;
 line-height: 16px;
 background: #fff;
 color: #000;
 font-weight: 500;
 border-radius: 4px;
 cursor: pointer;
 padding:15px ;
 text-transform: uppercase;
 -webkit-transition: all .2s ease-out;
 -moz-transition: all .2s ease-out;
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
/* background: #148bd0;*/
 color: #000;
 background: #fff;
}
.accordion .content {
 padding:0 0px;
 overflow:hidden;
 border:1px solid #fff; /* Make the border match the background so it fades in nicely */
 -webkit-transition: all .5s ease-out;
 -moz-transition: all .5s ease-out;
}
.accordion p {
 color:#333;
 margin:0 0 10px;
}
.accordion h3 {
 color:#542437;
 padding:0;
 margin:10px 0;
}

.accordion.vertical {
 /*background: #fff;
 box-shadow: 1px 3px 6px 4px #ccc;
 padding: 3px 10px;*/
}
.scroll-content
{
margin-top: 100px !important;
}
/* Vertical */
.vertical ul li {
 overflow:hidden;
/* margin:8px 0px 8px;*/
}
.vertical ul li label {
 padding:15px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
border-bottom: 1px solid #dedcdc;
}

.vertical ul li .content {
 height:0px;
 border-top:0;
 background: #fff;
 padding-left: 0px 10px;
 border:0px;
}
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
 height:auto;
}

ion-content button {
 width: 100%;
 padding: 16px;
 font-size: 16px;
 margin: 20px 0px;
 font-weight: 600;
 color: #fff;
 background: #ff6600;
}

input[type="text"] {
 border-radius: 4px;
 width: 100%;
 font-size:12px;
 border: 1px solid #ccc;
 height: 30px;
 padding-left: 10px;
}

select{
 border-radius: 4px;
 width: 100%;
 border: 1px solid #ccc;
 height: 30px;
 font-size:12px;
 padding-left: 10px;
}
.content {
 background: #fff;
}

.checkbox-custom-label, .radio-custom-label {
 position: relative;
     padding: 10px 0px !important;
     background-color:transparent !important;
     font-size: 9px !important;
     color:#000 !important;
}

.content h5 {
 font-size: 11px;
 margin-bottom: 4px;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
content: '';
 background: #fff;
 border: 1px solid #868686;
 display: inline-block;
 vertical-align: middle;
 width: 12px;
 height: 12px;
 padding: 1px;
 margin-right: 6px;
 text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #ff6600;
 box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-custom + .radio-custom-label:before {
 border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
 background: #f60;
 box-shadow: inset 0px 0px 0px 4px #fff;
}

.content p{
margin:0px;
font-size: 12px;
text-align: center;
}

ion-content{
 background-color:#fff;
}

.headericons span {
 background: #ff6600;
 border-radius: 100%;
 height: 18px;
 font-size: 8px;
 display: inline-block;
 width: 18px;
 position: relative;
 left: -14px;
 color: #fff;
 text-align: center;
 padding-top: 4px;
 top: -22px;
}

.headericons{
 float: right;
 position: absolute;
 right: 0%;
 top: 12px;
}
.tabs {
 width: 100%;
 background: #092e65;
 border-bottom: 3px solid #ff6600;
}

.tabs a {
 width: 100%;
 text-align: center;
 display: inline-block;
 padding: 5px 0px;
 border-bottom: 3px solid transparent;
 color: #fff;
}
.datetime-text {
 border: 1px solid #ccc;
 height: 30px;
 padding: 7px;
 background: #fff;
}
ion-datetime.datetime {
 padding: 0px;
 /* height: 40px; */
}
.score-table
{
border-bottom: 1px solid #dedcdc;
padding: 5px 10px;
}
.point-content
{
color: #fc6175;
}
.score
{
text-align: right;
color: #fc6175;
}

}
