page-wk {
    .checkbox-icon
    {
        display: none;
    }
    .select_body
    {
        padding-left: 0px;
    }
    .player_img
    {
        padding: 5px;
    }
    .player_img img
    {
        width:60px;
        height:60px;
    }
    .player_credit
    {
        margin:0px !important;
        padding-right: 0px !important;
    }
    .add-icon
    {
        float: right;
        font-size: 25px;
        color: #05800a;
		margin-top: -20px;
    }
    .minus-icon
    {
        float: right;
        font-size: 25px;
        color: #b50202;
		margin-top: -20px;
    }
    .subha{
        background-color:#FF0000 !important;
        color: #fcf5f5 !important;
         
        img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50% !important;
        }
    }
    #vs{
        padding-top: 5%;
    }
    h4{
        background-color:#FF0000 !important;
        margin:0px;
        color:white;
        padding: 5px;
    }
}
