page-bank {
.bank-icon
{
    min-width: 20px;
    min-height: 20px;
}
.bank-icon img
{
    width: 20px;
    height: 20px;
}
.alert-icon
{
    min-width: 30px;
    min-height: 30px;
}
.alert-icon img
{
    width: 30px;
    height: 30px;
}
ion-label
{
    white-space: normal;
}
.alert-div p
{
    margin-top: 10px;
    font-size: 13px;
}

 .button_left
    {
        background: #22a127;
        width: 100%;
        margin: 30px 0px;
        padding: 25px 0px;
        border-radius: 5px;
    }
	
	 .login_input p
    {
        color:#000;
    }


}
