page-mobile {
    .match_thumbnail
    {
        min-width: 40px;
        min-height: 40px;
    }
    .match_thumbnail img
    {
      width: 40px;
      height: 40px;
    }
    .contest_div_head
    {
        border: 2px solid #2196F3;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .contest_div_head h2
    {
        margin-bottom: 6px;
    }
    .contest_div_head p
    {
        color: #1982d6;
        font-weight: bold;
    }
    .login_input p
    {
        color:#000;
    }
    .button_left
    {
        background: #22a127;
        width: 100%;
        margin: 30px 0px;
        padding: 25px 0px;
        border-radius: 5px;
    }
}
