page-payment-gateway {
	 .payment-logo img
    {
        background: linear-gradient(90deg, #fdbc88 0%, #fa7c8e 100%) !important;
        border: 2px solid #f24a60;
        padding: 10px 0px;
    }
	.payment-logo
	{
	text-align:center;
	margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d5d5d5;

	}
}
