<!--
  Generated template for the PanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>pan</ion-title>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row *ngIf="status==0">

       <p style="color:red" *ngIf="status==0 && error_msg!='' "> {{  error_msg  }}   </p>
       <p style="color:green" *ngIf="status==0 && message!='' "> {{  message  }}   </p>
       <p style="color:green" *ngIf="success_msg!='' "> {{  success_msg  }}   </p>

          <ion-col col-12>
              <form [formGroup]="OGOOREGISTER" >
            <ion-list class="inner_page">

                <ion-item class="item_div">

                    <h2> VERIFY YOUR PAN</h2>
                    <!-- <button>UPLOAD PAN CARD IMAGE</button> -->
                  </ion-item>
              <br>
                <ion-item class="login_input">
                    <ion-label position="floating" >Name*</ion-label>
                  <!--  <ion-input type="text" formControlName="username"  *ngIf="status==1" value="{{ name }}" [readonly]="true" ></ion-input>  -->
                    <ion-input type="text" formControlName="username"   ></ion-input> 

                  </ion-item>
                  <ion-item *ngIf="OGOOREGISTER.controls.username.hasError('required') && OGOOREGISTER.controls.username.touched" >
                      <p style="color: #f70505;"> Please Enter First Name</p>
                  </ion-item>
                    <ion-item *ngIf="OGOOREGISTER.controls.username.hasError('pattern') && OGOOREGISTER.controls.username.touched" >
                      <p style="color: #f70505;">Sorry, only small and capital letters are allowed!</p>
                  </ion-item>

                  <p>As on PAN Card</p>
              <ion-item class="login_input">

                  <ion-label position="floating">PAN Number*</ion-label>
                 <!-- <ion-input type="text" formControlName="pan_no"  *ngIf="status==1" value="{{ pan_card_no }}" [readonly]="true"  ></ion-input> -->
                  <ion-input type="text" formControlName="pan_no"    ></ion-input>


              </ion-item>
              <p>10 Digit PAN no</p>

              <ion-item *ngIf="OGOOREGISTER.controls.pan_no.hasError('required') && OGOOREGISTER.controls.pan_no.touched" >
                  <p style="color: #f70505;"> Please Enter Pan No</p>
              </ion-item>
                <ion-item *ngIf="OGOOREGISTER.controls.pan_no.hasError('pattern') && OGOOREGISTER.controls.pan_no.touched" >
                  <p style="color: #f70505;">Enter Valid Pan Card No!</p>
              </ion-item>


              <ion-item class="login_input">

                  <ion-label position="floating">Date</ion-label>
                  <ion-datetime display-format="DD/MM/YYYY" formControlName="dob"     picker-format="DDDD MMMM YYYY"></ion-datetime>
              </ion-item>

              <ion-item *ngIf="OGOOREGISTER.controls.dob.hasError('required') && OGOOREGISTER.controls.dob.touched" >
                  <p style="color: #f70505;"> Please Pick Date of Birth</p>
              </ion-item>

              <ion-item class="login_input">

                  <ion-select interface="popover"  formControlName="state" placeholder="Select State">
                   
                   <ion-option value="">Select State</ion-option>
<ion-option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</ion-option>
<ion-option value="Andhra Pradesh">Andhra Pradesh</ion-option>
<ion-option value="Arunachal Pradesh">Arunachal Pradesh</ion-option>
<ion-option value="Assam">Assam</ion-option>
<ion-option value="Bihar">Bihar</ion-option>
<ion-option value="Chandigarh">Chandigarh</ion-option>
<ion-option value="Chhattisgarh">Chhattisgarh</ion-option>
<ion-option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</ion-option>
<ion-option value="Daman and Diu">Daman and Diu</ion-option>
<ion-option value="Delhi">Delhi</ion-option>
<ion-option value="Goa">Goa</ion-option>
<ion-option value="Gujarat">Gujarat</ion-option>
<ion-option value="Haryana">Haryana</ion-option>
<ion-option value="Himachal Pradesh">Himachal Pradesh</ion-option>
<ion-option value="Jammu and Kashmir">Jammu and Kashmir</ion-option>
<ion-option value="Jharkhand">Jharkhand</ion-option>
<ion-option value="Karnataka">Karnataka</ion-option>
<ion-option value="Kerala">Kerala</ion-option>
<ion-option value="Lakshadweep">Lakshadweep</ion-option>
<ion-option value="Madhya Pradesh">Madhya Pradesh</ion-option>
<ion-option value="Maharashtra">Maharashtra</ion-option>
<ion-option value="Manipur">Manipur</ion-option>
<ion-option value="Meghalaya">Meghalaya</ion-option>
<ion-option value="Mizoram">Mizoram</ion-option>
<ion-option value="Nagaland">Nagaland</ion-option>
<ion-option value="Orissa">Orissa</ion-option>
<ion-option value="Pondicherry">Pondicherry</ion-option>
<ion-option value="Punjab">Punjab</ion-option>
<ion-option value="Rajasthan">Rajasthan</ion-option>
<ion-option value="Sikkim">Sikkim</ion-option>
<ion-option value="Tamil Nadu">Tamil Nadu</ion-option>
<ion-option value="Tripura">Tripura</ion-option>
<ion-option value="Uttaranchal">Uttaranchal</ion-option>
<ion-option value="Uttar Pradesh">Uttar Pradesh</ion-option>
<ion-option value="West Bengal">West Bengal</ion-option>
                  </ion-select>
              </ion-item>

              <ion-item *ngIf="OGOOREGISTER.controls.state.hasError('required') && OGOOREGISTER.controls.state.touched" >
                  <p style="color: #f70505;"> Please Pick State</p>
              </ion-item>


              <div class="login_input" *ngIf="status==0">
              <p  class="mandatory">* All fields are mandatory</p>
              <p  class="why-should">Why Should I submit my PAN Card?</p>

              <button [disabled]="!OGOOREGISTER.valid"     (click)="post_details()" ion-button color="dark" class="button_left">SUBMIT FOR VERIFICATION</button>
              </div>

              <!--<ion-item>
                <a color="dark">Forget Password</a>
                <a color="dark" (click)="Goto_register()">SignUp</a>
              </ion-item>-->


            </ion-list>
            </form>
          </ion-col>

        </ion-row>
		
		<ion-row *ngIf="status =='1'">
		
 <ion-col col-12>
            <ion-list class="inner_page">

              

			  <ion-item class="item_div">
                    <ion-thumbnail item-start class="bank-icon">
                          <img src="assets/imgs/tick.png">
                    </ion-thumbnail>
                    <h2>Pan Card  is Verified </h2>
                    <p style="font-size: 12px;"></p>
                  </ion-item>

                 <!-- <ion-item class="item_div alert-div">
                      <ion-thumbnail item-start class="alert-icon">
                            <img src="assets/imgs/mail-box.png">
                      </ion-thumbnail>
                      <p> <p>
                    </ion-item> -->

                    <ion-item class="item_div alert-div">
                        <ion-thumbnail item-start class="alert-icon">

                        </ion-thumbnail>

                      <!--  <p>&#x0002E; Verify your mobile number</p>
                        <p>&#x0002E; Verify your email id</p>
                        <p>&#x0002E; Verify your PAN card</p> -->
                      </ion-item>
					  
					  
					
					  



            </ion-list>
          </ion-col>
		
		
		
		
		
		
		
		</ion-row>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
      </ion-grid>


</ion-content>
